*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Parent{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/login_mobile-banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    
    /* background-color: bisque; */
}
.Form_Box{
    /* filter: blur(1px); */
    background-color: rgb(235, 228, 228,.1);
    padding: 30px;
    width: 25%;
 border-radius: .4rem;
 box-shadow: 5px 5px 10px  rgb(0,0,0,.4);
}
.btn{
    font-size: 1.2rem;
    width: 100%;

}