.ledger_container {
    position: absolute;
    width: 81%;
    left: 240px;
    z-index: -1;
  }
  .from_date_container{
    width: 25%;
    display: flex;
    margin: 10px -5px 0 -5px
  }
  .to_date_container{
    width: 25%;
    display: flex;
    margin: 10px -5px 0 -5px
  }
  .party_type_combo{
    height: 38px;
    margin-top: 9px
  }
  .party_name_combo{
    height: 38px;
    margin-top: 9px
  }